@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

* {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre {
  padding: 0;
  margin: 0;
}

/* Components */

button {
  cursor: pointer;
  background: white;
  border: 2px solid black;
  padding: 6px 12px;
  box-shadow: 2px 2px 0px black;
  transition: 0.2s ease-in;
}

button:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 0px 0px 0px black;
}

button.btn-primary {
  background: #75ccff;
}

.btn-danger {
  background: #ff6060;
}

.bgdanger {
  background: #ff6060;
}

.btn-secondary {
  background: #dbff7f;
}

.bgdsecondary {
  background: #dbff7f;
}


.drawer {
  border: 2px solid black;
  padding: 1rem;
  margin-top: 2rem;
}

.drawer .d-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn-drawer {
  border: none;
  border-bottom: 2px solid black;
  box-shadow: none;
  transition: none;
  padding: 8px 2rem;
  font-size: 18px;
}

.btn-drawer:hover {
  transform: none;
}

.btn-drawer.selected {
  border: 2px solid black;
}